.aprovacao-page {
    .card{
        background-color: $app-box-color;
        border: 1px solid $app-box-line-color;
        border-radius: 4px;
    }
    .operacao-list {
        .operacao-item {
            color: #fff;
            h2 {
                padding-bottom: $margin-sm/2 !important;
                margin-bottom: $margin-sm/2 !important;
            }
            small {
                display: block;
                text-transform: uppercase;
                font-size: 9px;
                letter-spacing: 0.05rem;
                margin: 1px 0;
                line-height: 1rem;
            }
            span {
                font-weight: 300;
                font-size: 14px;
                white-space: nowrap;
                line-height: 1rem;
                color: #d6e266 !important;
            }
            .operacao-item-situacao span {
                font-weight: 500
            }
        }
    }
    .card {
        border-bottom: 2px solid;
        &.prospeccao {
            .operacao-item-situacao {
                span {
                    color: $app-operacao-prospeccao;
                }
                i {
                    font-weight: 500;
                    font-size: 14px;
                    font-style: normal;
                    white-space: nowrap;
                    line-height: 1rem;
                    color: $app-operacao-analise;
                }
            }
        }
        &.analise {
            border-bottom-color: $app-operacao-analise;
            .operacao-item-situacao {
                span {
                    color: $app-operacao-analise;
                }
                i {
                    font-weight: 500;
                    font-size: 14px;
                    font-style: normal;
                    white-space: nowrap;
                    line-height: 1rem;
                    color: $app-operacao-analise;
                }
            }
        }
        &.aprovada {
            border-bottom-color: $app-operacao-aprovada;
            .operacao-item-situacao {
                span {
                    color: $app-operacao-aprovada;
                }
                i {
                    font-weight: 500;
                    font-size: 14px;
                    font-style: normal;
                    white-space: nowrap;
                    line-height: 1rem;
                    color: $app-operacao-aprovada;
                }
            }
        }
        &.cancelada {
            .operacao-item-situacao {
                span {
                    color: $app-operacao-cancelada;
                }
                i {
                    font-weight: 500;
                    font-size: 14px;
                    font-style: normal;
                    white-space: nowrap;
                    line-height: 1rem;
                    color: $app-operacao-analise;
                }
            }
        }
        &.reprovada {
            .operacao-item-situacao {
                span {
                    color: $app-operacao-reprovada;
                }
                i {
                    font-weight: 500;
                    font-size: 14px;
                    font-style: normal;
                    white-space: nowrap;
                    line-height: 1rem;
                    color: $app-operacao-analise;
                }
            }
        }
        &.encerrada {
            .operacao-item-situacao {
                span {
                    color: $app-operacao-encerrada;
                }
                i {
                    font-weight: 500;
                    font-size: 14px;
                    font-style: normal;
                    white-space: nowrap;
                    line-height: 1rem;
                    color: $app-operacao-analise;
                }
            }
        }
        
        @media only screen and (min-width:1367px){
    
            width: 1000px;
            margin: auto; 
    
        }
    
        @media only screen and (min-width:769px) and (max-width:1366px){
    
            width: 800px;
            margin: auto; 
    
        }
    
        @media only screen and (width:768px){
    
                width: 750px;
                margin: auto; 
    
        }
        @media only screen and (min-width:641px) and (max-width:767px){
    
                width: 450px;
                margin: auto; 
    
        }
        @media only screen and (min-width:321px) and (max-width:360px){
    
            width: 350px;
            margin: auto; 
    
        }
        @media only screen and (width:320px){
    
            width: 290px;
            margin: auto; 
    
        } 
    }

    .popoverpage {
        .list {
            border-bottom: 0;
            .list-header {
                text-transform: uppercase;
                color: #135B57;
                font-weight: 700;
                letter-spacing: .1rem;
                font-size: 1.3rem;
                margin-bottom: 0;
                .label {
                    margin-top: $margin-sm;
                    margin-bottom: $margin-sm;
                }
                .button {
                    float: right;
                    margin: 0;
                    font-size: 1rem;
                    height: 2rem;
                    .icon {
                        margin-left: 4px
                    }
                }
            }
            .item {
                .label {
                    margin-top: $margin-sm;
                    margin-bottom: $margin-sm;
                }
                &:last-item {
                    border: 0;
                }
            }
        }
    }
}

#page-filter {
    background-color: $app-box-color;
    border: 1px solid $app-box-line-color;
    border-radius: 4px;
    .filter-order {
        .icon {
            font-size: 1.1rem;
            color: #B6BE37;
            padding: 2px;
        }
    }
    @media only screen and (min-width:1367px){
    
        width: 1000px;
        margin: auto; 

    }

    @media only screen and (min-width:769px) and (max-width:1366px){

        width: 800px;
        margin: auto; 

    }

    @media only screen and (width:768px){

            width: 750px;
            margin: auto; 

    }
    @media only screen and (min-width:641px) and (max-width:767px){

            width: 450px;
            margin: auto; 

    }
    @media only screen and (min-width:321px) and (max-width:360px){

        width: 350px;
        margin: auto; 

    }
    @media only screen and (width:320px){

        width: 290px;
        margin: auto; 

    }  
}