#estudopage {
    .grid {
        .list{
            .item {
                background-color: transparent;
                padding: 0;
                border-top: 1px solid $singular-terciaria;
                i.titulo {
                        color: #70A8A5 !important;
                        font-size: 15px !important;
                }
                i {
                    text-transform: uppercase;
                    color: $app-box-text-color !important;
                    padding-right: 5px;
                    padding-left:  0;
                    font-size: 13px !important;
                    font-weight: 300 !important;
                    font-style: normal;
                    white-space: normal;
                }
            }

            .expandable {
                .expand-wrapper {

                    padding-top: 0;
                    color: #fff;
                    font-weight: 300 !important;
                    font-size: 12px !important;
                }
            }

            .item-inner {
                background-image: none;
                &:before {
                    font-family: 'mc-icons' !important;
                    content: $mc-icon-expandir;
                    color: $singular-terciaria;
                    position: absolute;
                    right: 8px;
                    font-size: 13px;
                    top: 20px;
                }
                // &:dectiv {
                //     content: $mc-icon-proximo;
                //     position: absolute;
                //     right: 8px;
                //     font-size: 13px;
                //     top: 20px;
                // }
            }
        }
    }
}
#div-estudopage {
    
    @media only screen and (width:1600px){

        width: 1000px;
        margin: auto;
    }

    @media only screen and (width:1440px){

        width: 900px;
        margin: auto;
    }
    
    @media only screen and (width:1366px){

        width: 800px;
        margin: auto;
    }

    @media only screen and (width:1360px) {

        width: 700px;
        margin: auto;
    }

    @media only screen and (width:1280px) {

        width: 600px;
        margin: auto; 

    }

    @media only screen and (width:1024px) {

        width: 500px;
        margin: auto; 

    }

    @media only screen and (width:800px){

        width: 400px;
        margin: auto; 

    } 

    @media only screen and (width:600px){

        width: 300px;
        margin: auto; 

    }
}