<ion-header>
    <mcc-cabecalho titulo="Estudo"></mcc-cabecalho>
</ion-header>

<ion-content padding-sm id="estudopage">
    <div id="div-estudopage">
        <!-- TOMADOR -->
        <div *ngIf="tomador.nomePessoa && tomador.numCpfCnpj">
            <ion-card padding-sm id="tomador-info">
                <ion-card-header>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-auto>
                                <i class="mc-icon-user icon"></i>
                            </ion-col>
                            <ion-col>
                                <h1>
                                    {{tomador.nomePessoa}}
                                    <small>{{tomador.numCpfCnpj}}</small>
                                </h1>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-header>
            </ion-card>
        </div>
    
        <div>
            <ion-card padding-sm>
                <ion-grid>
                    <ion-list *ngFor="let item of itens">
                        <button (click)="expandItem(item)" ion-item>
                            <i class={{item.icon}}></i><i>{{item.titulo}}</i>
                        </button>   
                            <div class="expandable">
                                <expandable *ngIf="item.expanded" [expanded]="item.expanded">
                                    <div *ngIf="item.titulo == 'Enquadramento da Proposta'">
                                        <enquadramento [dto]="item.dto"></enquadramento>
                                    </div>
                                    <div *ngIf="item.titulo == 'Dados do Cliente'">
                                        <dadoscliente [dto]="item.dto"></dadoscliente>
                                    </div>
                                    <div *ngIf="item.titulo == 'Reciprocidade do Cliente'">
                                        <reciprocidadeCliente [dto]="item.dto"></reciprocidadeCliente>
                                    </div>
                                    <div *ngIf="item.titulo == 'Análises Diversas'">
                                        <analisesDiversas [dto]="item.dto"></analisesDiversas>
                                    </div>
                                    <div *ngIf="item.titulo == 'Grupo Econômico'">
                                        <!-- <dadoscliente [dto]="item.dto"></dadoscliente> -->
                                    </div>
                                    <div *ngIf="item.titulo == 'Análise de Garantia'">
                                        <!-- <dadoscliente [dto]="item.dto"></dadoscliente> -->
                                    </div>
                                    <div *ngIf="item.titulo == 'Análise de Garantia'">
                                        <!-- <dadoscliente [dto]="item.dto"></dadoscliente> -->
                                    </div>
                                    <div *ngIf="item.titulo == 'Anotações Cadastrais'">
                                        <anotacoesCadastrais [dto]="item.dto"></anotacoesCadastrais>
                                    </div>
                                    <div *ngIf="item.titulo == 'Anotações de Crédito'">
                                        <!-- <dadoscliente [dto]="item.dto"></dadoscliente> -->
                                    </div>
                                </expandable>
                            </div>
                        
                    </ion-list>
                </ion-grid>
            </ion-card>
        </div>
    </div>
</ion-content>

<ion-footer id="app-footer">
    <mcc-rodape trocaPagina={{trocaPagina}}></mcc-rodape>
</ion-footer>