#estudopage {
    .grid {
        .list{
            .item {
                background-color: transparent;
                padding: 0;
                border-top: 1px solid $singular-terciaria;
                i.titulo {
                        color: #70A8A5 !important;
                        font-size: 15px !important;
                }
                i {
                    text-transform: uppercase;
                    color: $app-box-text-color !important;
                    padding-right: 5px;
                    padding-left:  0;
                    font-size: 13px !important;
                    font-weight: 300 !important;
                    font-style: normal;
                    white-space: normal;
                }
            }

            .expandable {
                .expand-wrapper {

                    padding-top: 0;
                    color: #fff;
                    font-weight: 300 !important;
                    font-size: 12px !important;
                }
            }

            .item-inner {
                background-image: none;
                &:before {
                    font-family: 'mc-icons' !important;
                    content: $mc-icon-expandir;
                    color: $singular-terciaria;
                    position: absolute;
                    right: 8px;
                    font-size: 13px;
                    top: 20px;
                }
                // &:dectiv {
                //     content: $mc-icon-proximo;
                //     position: absolute;
                //     right: 8px;
                //     font-size: 13px;
                //     top: 20px;
                // }
            }
        }
    }
}
#div-estudopage {
    @media only screen and (min-width:1366px){
   
        width: 800px;
        margin: auto; 
       
    }
    @media only screen and (max-width:300px){
    
    width: 480px;
    margin: auto; 
    
    } 
}