#estudopage {
    .grid {
        .list{
            .list-info {
                background-color: transparent;
                padding: 0;

                i {
                    text-transform: uppercase;
                    color: $app-page-title-color !important;
                    padding-right: 5px;
                    padding-left:  0;
                    font-size: 13px !important;
                    font-weight: 300 !important;
                    font-style: normal;
                    white-space: normal;
                }
        
                .expandable {
                    .expand-wrapper {

                        padding-top: 6px;
                        color: #fff;
                        font-weight: 300 !important;
                        font-size: 12px !important;

                        .row {
                            padding: 0;
                            
                            h1 {
                                color: $app-page-title-color !important;
                                font-size: 12px !important;
                                font-weight: 300 !important;
                                font-style: normal;
                                text-transform: uppercase;
                                
                
                            }

                            .col {
                                padding-top: 0;
                                padding-left: 0;
            
                                i{
                                    font-size: 12px !important;
                                    display: block;
                                }
                            }
            
                            i {
                                padding-left: 4px;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
            .item-inner {
                background-image: none;
                &:before {
                    font-family: 'mc-icons' !important;
                    content: $mc-icon-expandir;
                    color: #fff;
                    position: absolute;
                    right: 8px;
                    font-size: 13px;
                    top: 20px;
                }
                // &:dectiv {
                //     content: $mc-icon-proximo;
                //     position: absolute;
                //     right: 8px;
                //     font-size: 13px;
                //     top: 20px;
                // }
            }
        }
    }
}
#div-estudopage {
    @media only screen and (min-width:1366px){
   
        width: 800px;
        margin: auto; 
       
    }
    @media only screen and (max-width:300px){
    
    width: 480px;
    margin: auto; 
    
    } 
}