#app-footer {
    .toolbar {
        .toolbar-background {
            background: rgba(0, 0, 0, 0.20);
        }
        #toolbar-btn {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            height: 58px;
            .toolbar-item {
                border: 0;
                background: transparent !important;
                box-shadow: none;
                flex-direction: column;
                position: relative;
                span,
                i {
                    display: block;
                    text-align: center;
                }
                i {
                    font-size: 24px;
                    color: $app-icon-color;
                    margin-bottom: 6px;
                }
                span {
                    font-size: 10px;
                    text-transform: uppercase;
                    letter-spacing: .05rem;
                    color: $app-icon-text-color;
                }
                &.active {
                    i {
                        color: $app-icon-active-color !important;
                    }
                    span {
                        color: $app-icon-active-text-color !important;
                    }
                }
                &.small {
                    i {
                        font-size: 22px;
                    }
                }
                .toolbar-item-count {
                    background: $apoio-primaria;
                    color: $institucional-primaria;
                    border-radius: 50%;
                    padding: 4px;
                    position: absolute;
                    font-weight: 600;
                    top: -5px;
                    right: 12px;
                    border: 2px solid $institucional-primaria;
                }
            }
        }

        @media only screen and (min-width:1366px){
   
            width: 800px;
            margin: auto; 
           
        }
        @media only screen and (max-width:300px){
        
        width: 480px;
        margin: auto; 
        
        } 


    }
    
}

body.keyboard-is-open {
    #app-footer {
        display: none;
    }
}