// Button - Default   

 .simulador-cliente {
    
        color: #c9d200;
        
    }

    #simuladorpage {
        .scroll-content {
            margin-bottom: 0;
        }
        .search-box {
            border: 1px solid $btn-default-border-color;
            border-radius: $btn-default-border-radius;
            padding: 0;
            overflow: hidden;
            .col {
                margin: 0;
                padding: 0;
                &:last-child {
                    background-color: $btn-default-border-color
                }
            }
            .button {
                height: 100%;
                width: 100%;
                margin: 0;
                font-size: 2.3rem;
                border: none !important;
                outline: none;
                margin: 0;
            }
            .label-md {
                margin-top: 6px;
            }
            .input-has-focus {
                .item-inner {
                    border-bottom-color: transparent;
                    box-shadow: none;
                }
            }
            .search-box-tipo-pessoa {
                background-color: #1F9A93;
                color: #fff;
                font-weight: 700;
                padding: 0;
                ion-select {
                    max-width: initial;
                    padding-right: $margin-sm;
                    .select-icon-inner {
                        color: #fff
                    }
                }
            }
            .search-box-input {
                padding-left: $margin-sm;
                .text-input {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
        .simulador-box {
            .grid {
                padding: 0;
                .item {
                    background: transparent;
                    padding-left: 0;
                    .label {
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 9px;
                        letter-spacing: .05rem;
                    }
                    .input-cover,
                    &.item-select {
                        border-bottom: 1px solid $singular-terciaria;
                    }
                    .text-input,
                    .select,
                    .datetime {
                        font-size: 16px;
                        font-weight: 400;
                        color: #fff;
                    }
                    &.item-select {
                        height: 100%;
                    }
                    &.item-input {
                        border-bottom: 1px solid $singular-terciaria;
                    }
                    &.item-datetime {
                        border-bottom: 1px solid $singular-terciaria;
                    }
                }
            }
    
            @media only screen and (min-width:1367px){

                width: 1000px;
                margin: auto; 
        
            }
        
            @media only screen and (min-width:769px) and (max-width:1366px){
        
                    width: 800px;
                    margin: auto; 
        
            }
            @media only screen and (min-width:641px) and (max-width:768px){
        
                    width: 450px;
                    margin: auto; 
        
            }
            @media only screen and (min-width:321px) and (max-width:360px){
        
                width: 350px;
                margin: auto; 
        
            }
            @media only screen and (width:320px){
        
                width: 290px;
                margin: auto; 
        
            } 
            
        }
        .simulador-resumo {
            background: $app-box-color;
            .card-header {
                color: #fff;
                font-weight: 400;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: .05rem;
                padding-bottom: 0;
            }
            .card-content {
                padding-top: 0;
                .grid {
                    padding: 5px 0 0 0;
                    letter-spacing: .05rem;
                    border-top: 1px solid $app-box-line-color;
                    margin-top: 5px;
                    span {
                        display: block;
                        color: $apoio-primaria;
                        font-size: 14px;
                        font-weight: 400;
                    }
                    small {
                        display: block;
                        font-size: 9px;
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: 200;
                    }
                    .col:first-child {
                        padding-left: 0;
                    }
                }
            }
            
            @media only screen and (min-width:1367px){
   
                width: 1000px;
                margin-left: 21em; 
               
            }
        
            @media only screen and (min-width:801px) and (max-width:1366px){
           
                width: 800px;
                margin-left: 275px; 
               
            }
            @media only screen and (max-width:800px){
            
                width: 480px;
                margin: auto; 
            
            } 
        }
        .list {
            margin-bottom: 0
        }
    }

#resumo {
        background: $app-box-color;
        border: 1px solid $app-box-line-color;
        border-radius: 4px;
        .card-header {
            color: #fff;
            font-weight: 400;
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: .05rem;
            padding: 1px;
            .grid {
                padding: 5px 0 0 0;
                letter-spacing: .05rem;
                border-top: 1px solid $app-box-line-color;
                margin-top: 5px;
                span {
                    display: block;
                    color: $apoio-primaria;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
        .card-content {
            padding-top: 0px;
            .grid {
                padding: 1px 0 0 0;
                letter-spacing: .05rem;
                border-top: 1px solid $app-box-line-color;
                margin-top: 5px;
                .row{
                    .col{
                        width: 25px;
                        span {
                            text-transform: uppercase;
                            color: #fff;
                            font-size: 14px;
                            font-weight: 100;
                            
                        }
                        small {
                            display: block;
                            font-size: 11px;
                            text-transform: uppercase;
                            color: $apoio-primaria;
                            font-weight: 200;
                        }
                    }
                    
                }
            }
        }
    }
    .list {
        margin-bottom: 0
    }
#seleciona-tomador {

    #div-padrao{

        margin-top: 10px;
        
        @media only screen and (min-width:1367px){

            width: 1000px;
            margin: auto; 

            #box-menu {
    
                .item{
    
                    span{
    
                        font-size: 15px;
                    }
                }
            }
    
        }
    
        @media only screen and (min-width:769px) and (max-width:1366px){
    
                width: 800px;
                margin: auto;

                #box-menu {
    
                    .item{
        
                        span{
        
                            font-size: 15px;
                        }
                    }
                }
    
        }
        @media only screen and (min-width:641px) and (max-width:768px){
    
                width: 450px;
                margin: auto; 
    
        }
        @media only screen and (min-width:321px) and (max-width:360px){
    
            width: 350px;
            margin: auto; 
    
        }
        @media only screen and (width:320px){
    
            width: 290px;
            margin: auto; 
    
        }
    }
}