<ion-header>
    <mcc-cabecalho titulo="{{tituloPagina}}"></mcc-cabecalho>
</ion-header>

<ion-content padding-sm id="simuladorpage">
    <div *ngIf="nomePessoa && numCpfCnpj">
        <ion-card padding-sm id="tomador-info">
            <ion-card-header>
                <ion-grid>
                    <ion-row>
                        <ion-col col-auto><i class="mc-icon-user icon"></i></ion-col>
                        <ion-col>
                            <h1>
                                {{nomePessoa}}
                                <small>{{numCpfCnpj | cpfcnpj}}</small>
                            </h1>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-header>
        </ion-card>
    </div>

    <ion-card class="simulador-resumo">
        <ion-card-header>
            {{linhaDeCredito.nomeComercialLinhaCredito}}
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <!-- <ion-col>
                        <span>{{capacidadePagamento}}</span>
                        <small>Capacidade PGTO</small>
                    </ion-col> -->
                    <ion-col>
                        <small>valor operação</small>
                        <span>{{valorOperacao}}</span>
                    </ion-col>
                    <ion-col>
                        <small>valor Contratado</small>
                        <span>{{valorOperacao}}</span>
                    </ion-col>
                    <ion-col>
                        <small>Primeiro Vencimento</small>
                        <span>{{primeiroVencimento | date: 'dd/MM/yyyy'}}</span>
                    </ion-col>
                    <!-- <ion-col col-auto text-center>
                        <span>{{parcela.primeiroVencimento | date:'dd'}}</span>
                        <small>Vencimento</small>
                    </ion-col> -->
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card class="simulador-detalhe">
        <ion-card-content>
            <ion-grid no-padding>
                <ion-row>
                    <ion-col>Valor da parcela (R$)</ion-col>
                    <ion-col text-right>{{parcela.maiorValorParcela | number:'1.2-2'}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Nº de parcelas</ion-col>
                    <ion-col text-right>{{parcela.quantidadeParcelas}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Juros</ion-col>
                    <ion-col text-right>{{parcela.percentualTaxaJuros | number:'1.2-2'}}%</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Seguro (R$)</ion-col>
                    <ion-col text-right>{{parcela.valorDoSeguro | number:'1.2-2'}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>IOF (R$)</ion-col>
                    <ion-col text-right>{{parcela.valorTotalIOF | number:'1.2-2'}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>TAC (R$)</ion-col>
                    <ion-col text-right>{{parcela.valorTAC | number:'1.2-2'}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>CET mensal</ion-col>
                    <ion-col text-right>{{parcela.percentualCETMensal | number:'1.2-2'}}%</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>CET anual</ion-col>
                    <ion-col text-right>{{parcela.percentualCETAnual | number:'1.2-2'}}%</ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card margin-top class="simulador-box">
        <ion-card-header id="cabecalho">
                Critério Favorecido 
        </ion-card-header>
        <div id="documentos">
                <ion-segment [(ngModel)]="tipoCriterio" ngControl="tipoCriterios" #tipoCriterios="ngModel" name="tipoCriterios">
                <ion-segment-button  value="credito">
                    Crédito
                </ion-segment-button>
                <ion-segment-button  value="debito">
                    Débito
                </ion-segment-button>
            </ion-segment>
        
        </div>
        
        
        <ion-grid>
            <ion-row *ngIf="tipoCriterio == 'credito'">
                <ion-col>
                    <ion-item>
                        <ion-label>Critério</ion-label>
                        <ion-select interface="alert" [(ngModel)]="tipoDeCriterioCredito" ngControl="tipoDeCriterioCreditos" #tipoDeCriterioCreditos="ngModel"
                            name="tipoDeCriterioCreditos" cancelText="Cancelar">
                            <ion-option *ngFor="let credito of tipoCriteriosCredito" [value]="credito.codigo">{{credito.nome}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="tipoCriterio == 'debito'">
                <ion-col>
                    <ion-item>
                        <ion-label>Critério</ion-label>
                        <ion-select interface="alert" [(ngModel)]="tipoDeCriterioDebito" ngControl="tipoDeCriterioDebitos" #tipoDeCriterioDebitos="ngModel"
                            name="tipoDeCriterioDebitos" cancelText="Cancelar">
                            <ion-option *ngFor="let debito of tipoCriteriosDebito" [value]="debito.codigo">{{debito.nome}}
            
                            </ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                </ion-row>
                <ion-grid *ngIf="tipoCriterio == 'credito' && tipoDeCriterioCredito">
                    <ion-row class="listaConta">
                        <ion-col col-4>
                            <span>Banco</span>
                        </ion-col>
                        <ion-col col-4>
                            <span>Agência</span>
                        </ion-col>
                        <ion-col col-4>
                            <span>Conta</span>
                        </ion-col>
                    </ion-row>

                    <ion-grid *ngIf="tipoCriterio == 'credito'">
                        <ion-row class="listaConta" *ngFor="let contas of contasCredito">
                            <button (click)="selecionarContaCredito(contas)" [ngClass]="contas.cssClass">
                                <ion-col col-4>
                                    <span > {{contas.banco }}</span>
                                </ion-col>
                                <ion-col col-4>
                                    <span>{{contas.agencia }}</span>
                                </ion-col>
                                <ion-col col-4>
                                    <span >{{contas.conta }}</span>
                                </ion-col>
                            </button>
                        </ion-row>
                    </ion-grid>

                </ion-grid>
                <ion-grid *ngIf="tipoCriterio == 'debito' && tipoDeCriterioDebito">
                        <ion-row class="listaConta">
                            <ion-col col-4>
                                <span>Banco</span>
                            </ion-col>
                            <ion-col col-4>
                                <span>Agência</span>
                            </ion-col>
                            <ion-col col-4>
                                <span>Conta</span>
                            </ion-col>
                        </ion-row>
                    <ion-grid *ngIf="tipoCriterio == 'debito'">
                        <ion-row class="listaConta" *ngFor="let contas of contasDebito">
                                <button (click)="selecionarContaDebito(contas)" [ngClass]="contas.cssClass">
                                    <ion-col col-4>
                                        <span>{{contas.banco }}</span>
                                    </ion-col>
                                    <ion-col col-4>
                                        <span>{{contas.agencia }}</span>
                                    </ion-col>
                                    <ion-col col-4>
                                        <span>{{contas.conta }}</span>
                                    </ion-col>
                                </button>
                        </ion-row>
                    </ion-grid>
                </ion-grid>
        </ion-grid>
    </ion-card>

    <div class="btn-full-warp">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <button block ion-button (click)="enviarParaMesa()" >{{tituloBotao}}</button>
                </ion-col>
                <ion-col>
                    <button block ion-button (click)="enviarParaDocumentacao()"[disabled]="botaoEncaminhar">Encaminhar</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
<ion-footer id="app-footer">
        <mcc-rodape trocaPagina={{trocaPagina}}></mcc-rodape>
</ion-footer>