#simuladorpage {
    .scroll-content {
        margin-bottom: 60px;
    }
    .search-box {
        border: 1px solid $btn-default-border-color;
        border-radius: $btn-default-border-radius;
        padding: 0;
        overflow: hidden;
        .col {
            margin: 0;
            padding: 0;
            &:last-child {
                background-color: $btn-default-border-color
            }
        }
        .button {
            height: 100%;
            width: 100%;
            margin: 0;
            font-size: 2.3rem;
            border: none !important;
            outline: none;
            margin: 0;
        }
        .label-md {
            margin-top: 6px;
        }
        .input-has-focus {
            .item-inner {
                border-bottom-color: transparent;
                box-shadow: none;
            }
        }
        .search-box-tipo-pessoa {
            background-color: #1F9A93;
            color: #fff;
            font-weight: 700;
            padding: 0;
            ion-select {
                max-width: initial;
                padding-right: $margin-sm;
                .select-icon-inner {
                    color: #fff
                }
            }
        }
        .search-box-input {
            padding-left: $margin-sm;
            .text-input {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    .simulador-box {
        .grid {
            padding: 0;
            .item {
                background: transparent;
                padding-left: 0;
                .label {
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 9px;
                    letter-spacing: .05rem;
                }
                .input-cover,
                &.item-select {
                    border-bottom: 1px solid $singular-terciaria;
                }
                .text-input,
                .select,
                .datetime {
                    font-size: 16px;
                    font-weight: 400;
                    color: #fff;
                }
                &.item-select {
                    height: 100%;
                }
                &.item-input {
                    border-bottom: 1px solid $singular-terciaria;
                }
                &.item-datetime {
                    border-bottom: 1px solid $singular-terciaria;
                }
            }
        }

        @media only screen and (min-width:1366px){
   
            width: 800px;
            margin: auto; 
           
        }
        @media only screen and (max-width:300px){
        
        width: 480px;
        margin: auto; 
        
        }
        
    }
    .simulador-resumo {
        background: $app-box-color;
        .card-header {
            color: #fff;
            font-weight: 400;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: .05rem;
            padding-bottom: 0;
        }
        .card-content {
            padding-top: 0;
            .grid {
                padding: 5px 0 0 0;
                letter-spacing: .05rem;
                border-top: 1px solid $app-box-line-color;
                margin-top: 5px;
                span {
                    display: block;
                    color: $apoio-primaria;
                    font-size: 14px;
                    font-weight: 400;
                }
                small {
                    display: block;
                    font-size: 9px;
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: 200;
                }
                .col:first-child {
                    padding-left: 0;
                }
            }
        }
        
        @media only screen and (min-width:1366px){
   
            width: 800px;
            margin: auto; 
           
        }
        @media only screen and (max-width:300px){
        
        width: 480px;
        margin: auto; 
        
        } 
    }
    .list {
        margin-bottom: 0
    }
}



#footer-bar {
    background-color: #1B7772;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    div {
        margin: $margin-sm;
    }
    .button-clear {
        color: #fff;
        .icon {
            margin-left: $margin-sm/2;
            margin-right: $margin-sm/2;
        }
    }
}

.btn-show-more {
    background: transparent !important;
    border: 0 !important;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    height: 20px;
    padding: $margin-sm 0;
    box-shadow: none;
}