.page-documentacao {

    @media only screen and (min-width:1366px){
   
        width: 800px;
        margin-left: 26em;
       
    }
    @media only screen and (max-width:300px){
    
    width: 480px;
    margin-left: 26em;
    
    } 

}
