<ion-header>
    <mcc-cabecalho icoVoltar={{icoVoltar}} icoHome="true" titulo="{{titulo}}"></mcc-cabecalho>
</ion-header>

<ion-content>
    <!-- PERFIL COOPERATIVA -->
    <div id="div-padrao" *ngIf="usuario == 'cooperativa'">
        <ion-grid id="box-menu">
            <ion-row>
                <ion-col col-6 *ngFor="let menu of menus" (click)="abrir(menu)">
                    <ion-item>
                        <i class="mc-icon-{{menu.icone}}"></i>
                        <span>{{menu.titulo}}</span>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <!-- PERFIL LOGISTA -->
    <div id="div-lojista" *ngIf="usuario == 'lojista'">
        <ion-grid id="box-menu">
            <ion-row>
                <ion-col col-6 *ngFor="let menu of menus" (click)="abrir(menu)">
                    <ion-item>
                        <i class="mc-icon-{{menu.icone}}"></i>
                        <span>{{menu.titulo}}</span>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>

<ion-footer id="app-footer">
    <ion-toolbar>

        <div id="toolbar-btn">
            <button *ngFor="let menuAux of menusAux" (click)="abrir(menuAux)" class="toolbar-item">
                <small *ngIf="quantidadeMensagensNaoLidas != null && quantidadeMensagensNaoLidas != 0" class="toolbar-item-count">{{quantidadeMensagensNaoLidas}}</small>
                <i class="mc-icon-{{menuAux.icone}}"></i>
                <span>{{menuAux.titulo}}</span>
            </button>
            <button float-end menuToggle class="toolbar-item small"><i class="mc-icon-configuracoes"></i><span>configurações</span></button>
        </div>
    </ion-toolbar>
</ion-footer>
