//Variables
$icomoon-font-path: '#{$font-path}/mc-icons';
$mc-icon-logo-credito: "\e91d";
$mc-icon-logo-full: "\e91c";
$mc-icon-info: "\e91b";
$mc-icon-checked: "\e91a";
$mc-icon-anterior: "\e917";
$mc-icon-proximo: "\e918";
$mc-icon-delete: "\e913";
/*verificar se estão sendo usadas as
as duas variaveis abaixo*/
$mc-icon-exibir-menos: "\e913";
$mc-icon-exibir-mais: "\e914";
//
$mc-icon-configuracoes: "\e911";
$mc-icon-help: "\e906";
$mc-icon-options: "\e907";
$mc-icon-credito2: "\e908";
$mc-icon-visitas: "\e909";
$mc-icon-desempenho: "\e90d";
$mc-icon-relatorio: "\e90b";
$mc-icon-simular: "\e90e";
$mc-icon-mensagem: "\e90f";
//icons menu home
$mc-icon-operacoes: "\e910";
$mc-icon-aprovacao: "\e924";//criar novo icon

$mc-icon-photo-add: "\e905";
$mc-icon-done: "\e904";
$mc-icon-assignment: "\e902";
$mc-icon-add: "\e903";
$mc-icon-warning: "\e901";
$mc-icon-user: "\e900";
/*verificar se estão sendo usadas as
as duas variaveis abaixo*/
$mc-icon-encaminhar: "\ea34";
$mc-icon-garantia: "\e98e";
//
//Criar novo icon para calculado do estudo
$mc-icon-calculadora: "\e928";
//
$mc-icon-pessoa: "\e931";
$mc-icon-analises: "\e973";
$mc-icon-grupo: "\e972";
$mc-icon-anotacoes: "\e924";
$mc-icon-anotacoesC: "\e974";
/*verificar se estão sendo usadas as
as duas variaveis abaixo*/
$mc-icon-estudo: "\e909";
//
$mc-icon-expandir: "\e919";

//icons rodape
$mc-icon-rodape-cadastro: "\e932";
$mc-icon-rodape-documentacao: "\e90c";
$mc-icon-rodape-garantia: "\e98f";
$mc-icon-rodape-estudo: "\e90a";

@font-face {
    font-family: 'mc-icons';
    src: url('#{$icomoon-font-path}/mc-icons.eot?dhppme');
    src: url('#{$icomoon-font-path}/mc-icons.eot?dhppme#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/mc-icons.ttf?dhppme') format('truetype'),
    url('#{$icomoon-font-path}/mc-icons.woff?dhppme') format('woff'),
    url('#{$icomoon-font-path}/mc-icons.svg?dhppme#mc-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="mc-icon-"],
[class*=" mc-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'mc-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mc-icon-logo-credito {
    &:before {
        content: $mc-icon-logo-credito;
    }
}

.mc-icon-logo-full {
    &:before {
        content: $mc-icon-logo-full;
    }
}

.mc-icon-info {
    &:before {
        content: $mc-icon-info;
    }
}

.mc-icon-checked {
    &:before {
        content: $mc-icon-checked;
    }
}

.mc-icon-anterior {
    &:before {
        content: $mc-icon-anterior;
    }
}

.mc-icon-proximo {
    &:before {
        content: $mc-icon-proximo;
    }
}

.mc-icon-delete {
    &:before {
        content: $mc-icon-delete;
    }
}

.mc-icon-exibir-menos {
    &:before {
        content: $mc-icon-exibir-menos;
    }
}

.mc-icon-exibir-mais {
    &:before {
        content: $mc-icon-exibir-mais;
    }
}

.mc-icon-configuracoes {
    &:before {
        content: $mc-icon-configuracoes;
    }
}

.mc-icon-help {
    &:before {
        content: $mc-icon-help;
    }
}

.mc-icon-options {
    &:before {
        content: $mc-icon-options;
    }
}

.mc-icon-credito2 {
    &:before {
        content: $mc-icon-credito2;
    }
}

.mc-icon-visitas {
    &:before {
        content: $mc-icon-visitas;
    }
}

.mc-icon-desempenho {
    &:before {
        content: $mc-icon-desempenho;
    }
}

.mc-icon-relatorio {
    &:before {
        content: $mc-icon-relatorio;
    }
}

.mc-icon-encaminhar {
    &:before {
        content: $mc-icon-encaminhar;
    }
}

.mc-icon-garantia {
    &:before {
        content: $mc-icon-garantia;
    }
}

.mc-icon-calculadora {
    &:before {
        content: $mc-icon-calculadora;
    }
}

.mc-icon-pessoa {
    &:before {
        content: $mc-icon-pessoa;
    }
}

.mc-icon-analises {
    &:before {
        content: $mc-icon-analises;
    }
}

.mc-icon-grupo {
    &:before {
        content: $mc-icon-grupo;
    }
}

.mc-icon-anotacoes {
    &:before {
        content: $mc-icon-anotacoes;
    }
}

.mc-icon-anotacoesC {
    &:before {
        content: $mc-icon-anotacoesC;
    }
}

.mc-icon-estudo {
    &:before {
        content: $mc-icon-estudo;
    }
}

.mc-icon-expandir {
    &:before {
        content: $mc-icon-expandir;
    }
}

$mc-icon-rodape-estudo: "\e90a";

.mc-icon-rodape-cadastro {
    &:before {
        content: $mc-icon-rodape-cadastro;
    }
}

.mc-icon-rodape-estudo {
    &:before {
        content: $mc-icon-rodape-estudo;
    }
}

.mc-icon-rodape-garantia {
    &:before {
        content: $mc-icon-rodape-garantia;
    }
}

.mc-icon-rodape-documentacao {
    &:before {
        content: $mc-icon-rodape-documentacao;
    }
}

.mc-icon-simular {
    &:before {
        content: $mc-icon-simular;
    }
}

.mc-icon-mensagem {
    &:before {
        content: $mc-icon-mensagem;
    }
}

.mc-icon-operacoes {
    &:before {
        content: $mc-icon-operacoes;
    }
}

.mc-icon-aprovacao {
    &::before {
        content: $mc-icon-aprovacao;
    }
}

.mc-icon-photo-add {
    &:before {
        content: $mc-icon-photo-add;
    }
}

.mc-icon-done {
    &:before {
        content: $mc-icon-done;
    }
}

.mc-icon-assignment {
    &:before {
        content: $mc-icon-assignment;
    }
}

.mc-icon-add {
    &:before {
        content: $mc-icon-add;
    }
}

.mc-icon-warning {
    &:before {
        content: $mc-icon-warning;
    }
}

.mc-icon-user {
    &:before {
        content: $mc-icon-user;
    }
}