<ion-header>
    <mcc-cabecalho titulo="Garantia"></mcc-cabecalho>
</ion-header>

<ion-content padding-sm id="garantiapage">
    <ion-card padding-sm class="tomador-info">
        <ion-card-header>
            <ion-grid>
                <ion-row>
                    <ion-col col-auto>
                        <i class="mc-icon-user icon"></i>
                    </ion-col>
                    <ion-col>
                        <h1>
                            {{nomePessoa}}
                            <small>{{numCpfCnpj}}</small>
                        </h1>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
    </ion-card>
    <ion-card class="garantia-resumo">
        <ion-card-header>
            <ion-row>
                <ion-col>
                    Real
                </ion-col>
                <ion-col></ion-col>
                <ion-col>
                    Pessoal
                </ion-col>
            </ion-row>        
        </ion-card-header >
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <small>Exigido</small>
                        <span>{{realExigido}}</span>
                        <small>Percentual</small>
                        <span>{{percRealExigido}}</span>
                    </ion-col>
                    <ion-col>
                        <small>Alcançado</small>
                        <span>{{realAlcancado}}</span>
                        <small> Percentual</small>
                        <span>{{percRealAlcancado}}</span>
                    </ion-col>
                    <ion-col>
                        <small>Exigido</small>
                        <span>{{pessoalExigido}}</span>
                        <small> Alcançado</small>
                        <span>{{pessoalAlcancado}}</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <div class="btn-full-warp">
        <ion-grid class="operacao-list">
                <ion-row>
                    <ion-col style="text-align: right">
                           <span id='labelBotao'> Adicionar Garantia</span>
                        <button ion-button (click)="incluirGarantia()">+</button>
                    </ion-col>
                </ion-row>
        </ion-grid>
    </div>
    <ion-card class="garantia-resumo" *ngIf="garantias.length > 0" >
        <ion-card-header>
            <ion-row>
                <ion-col>
                    Garantias
                </ion-col>
           </ion-row>        
        </ion-card-header >
    
        <ion-list radio-group>
                <ion-card>
                    <ion-card-content>
                          <ion-grid class="operacao-list">
                            <ion-row class="operacao-item" align-items-center>
                                <ion-col col-3>
                                    <h2>Tipo </h2>
                                </ion-col>
                                <ion-col col-3>
                                        <h2>Grupo </h2>
                                    </ion-col>
                                <ion-col col-3>
                                    <h2>Descrição</h2>
                                </ion-col>
                                <ion-col col-3>
                                    <h2>Valor </h2>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <ion-grid class="operacao-list" *ngFor="let garantia of garantias">
                            <ion-row class="operacao-item" align-items-center>
                                <ion-col col-3>
                                    <h2> <small>{{garantia.tipoGarantia}}</small></h2>
                                </ion-col>
                                <ion-col col-3>
                                        <h2><small>{{garantia.grupoGarantia}}</small></h2>
                                    </ion-col>
                                <ion-col col-3>
                                    <h2><small>{{garantia.descricao}}</small></h2>
                                </ion-col>
                                <ion-col col-3>
                                    <h2><small>{{garantia.valor}}</small></h2>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
        </ion-list>
    </ion-card>
    <div class="btn-full-warp">
        <ion-grid>
            <ion-row>
                <ion-col >
                     <button ion-button block (click)="botaoHabilitado()"> {{tituloBotao}}</button>
                </ion-col>
                <ion-col >
                    <button ion-button block (click)="enviarParaEstudo()" [disabled]="botaoEncaminhar"> Encaminhar</button>
                </ion-col>
                <!-- <ion-col style="text-align: center">
                    <ion-fab >
                        <button ion-fab mini style="background-color: #1B7772"  (click)="incluirGarantia()">
                            +
                        </button>
                    </ion-fab>
                </ion-col> -->
            </ion-row>
            <!-- <ion-row>
                <ion-col>
                </ion-col>
                    <button ion-button block (click)="incluirGarantia()">Incluir
                        <ion-icon ios="ios-arrow-forward"></ion-icon>  </button>
            </ion-row> -->
        </ion-grid>
    </div>
</ion-content>

<ion-footer id="app-footer">
    <mcc-rodape trocaPagina={{trocaPagina}}></mcc-rodape>
</ion-footer>