#garantiaincluirpage {
    .scroll-content {
        margin-bottom: 0;
    }
    .search-box {
        border: 1px solid r;
        padding: 0;
        overflow: hidden;
        .col {
            margin: 0;
            padding: 0;
        }
        .button {
            height: 100%;
            width: 100%;
            margin: 0;
            font-size: 2.3rem;
            border: none !important;
            outline: none;
            margin: 0;
        }
        .label-md {
            margin-top: 6px;
        }
        .input-has-focus {
            .item-inner {
                border-bottom-color: transparent;
                box-shadow: none;
            }
        }
        .search-box-tipo-pessoa {
            background-color: #1F9A93;
            color: #fff;
            font-weight: 700;
            padding: 0;
            ion-select {
                max-width: initial;
                padding-right: $margin-sm;
                .select-icon-inner {
                    color: #fff
                }
            }
        }
        .search-box-input {
            padding-left: $margin-sm;
            .text-input {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    .garantia-box {
        .grid {
            padding: 0;
            .item {
                background: transparent;
                padding-left: 0;
                .label {
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 9px;
                    letter-spacing: .05rem;
                }
                .input-cover,
                &.item-select {
                    border-bottom: 1px solid $singular-terciaria;
                }
                .text-input,
                .select,
                .datetime {
                    font-size: 12px;
                    font-weight: 400;
                    color: #fff;
                }
                &.item-select {
                    height: 100%;
                }
            }
        }
    }
    .list {
        margin-bottom: 0
    }
}

.form-padrao {
    
    @media only screen and (min-width:1367px){
    
        width: 1000px;
        margin: auto; 

    }

    @media only screen and (min-width:769px) and (max-width:1366px){

        width: 800px;
        margin: auto; 

    }

    @media only screen and (width:768px){

            width: 750px;
            margin: auto; 

    }
    @media only screen and (min-width:641px) and (max-width:767px){

            width: 450px;
            margin: auto; 

    }
    @media only screen and (min-width:321px) and (max-width:360px){

        width: 350px;
        margin: auto; 

    }
    @media only screen and (width:320px){

        width: 290px;
        margin: auto; 

    } 
}

#footer-bar {
    background-color: #1B7772;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    div {
        margin: $margin-sm;
    }
    .button-clear {
        color: #fff;
        .icon {
            margin-left: $margin-sm/2;
            margin-right: $margin-sm/2;
        }
    }
}

.btn-show-more {
    background: transparent !important;
    border: 0 !important;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    height: 20px;
    padding: $margin-sm 0;
    box-shadow: none;
}
.select
{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}